.card-inner {
  position: relative;
  height: 400px;
}

.front,
.back {
  border: black solid 1px;
  border-radius: 3px;
  width: 250px;
  height: 300px;
  margin: 20px;
  position: relative;
  top: 0;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  overflow: hidden;
  backface-visibility: hidden;
  // box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  // -webkit-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transition: transform 1s linear;
}

.flipped {
  .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .back {
    transform: perspective(600px) rotateY(0deg);
  }
  
}

.front {
  transform: perspective(600px) rotateY(0deg);
}
.back {
  transform: perspective(600px) rotateY(-180deg);
  top: -332px;
  display: flex;
  flex-direction: column; 
}

.img-container {
  padding: 5px;
}
